.precio-total{
  text-align: center;
  font-size:1.5em;
  color:#ac5e05;
}


.resultados{
  font-size:1.3em;
}

.precio-kilogramo{
  color:#ac5e05;
  padding-left:10px;
  padding-right:10px;
}

.kilogramos-pagos{
  color:#ac5e05;
  padding-left:10px;
  padding-right:10px;
}

.kilogramos-destarados{
  color:#ac0505;
  padding-left:10px;
  padding-right:10px;
}


.resultados-pagados{
  color:#ac5e05;
  padding-left:10px;
  padding-right:10px;
}

.resultados-vendidos{
  color:#275805;
  padding-left:10px;
  padding-right:10px;
}
.resultados-destarados{
  color:#ac0505;
  padding-left:10px;
  padding-right:10px;
}

.entradas{
  font-size:1.4em; 
}

.estilo-botones{
  font-size:1.2em; 
}

